@import 'style';
.about{
    width: 100%;
    height: 100%;
    position: relative;
    .about-wrap{
        position: absolute;
        width: 50%;
        top: 0;
        left: 0;
        padding: 5%;
        font-size: 1.5em;
        line-height: 1.5;
        .point{
            text-decoration: underline;
        }
        h3{
            margin-bottom: 80px;
            font-size: 2em;
            color: #000;
            display: inline-block;
            @include clipEffect();
            text-shadow: 
                0 0.03125em 0 #3a5dae, 
                0 0.0625em 0 #6ab6df,  
                0 -0.03125em 0 #eb808e, 
                0 -0.0625em 0 #fffeac;
            &:hover{
                color:$black_3;
            }
        }
        .about-desc{
            div{
                @include clipEffect();
            }
        }
    }
    .svg-box{
        position: absolute;
        top: -5%;
        left: 30%;
        right: auto;
        width: 200px;
        height: 200px;
        font-size: 2em;
        opacity: 0.5;
    }
    #myCanvas{
        position: absolute;
        top: 0;
        bottom: auto;
        right: 5%;
    }
    #tags{
        display: none;
    }
}


/* 1280 ~  */
@media (max-width:1280px) {
    .about{
        .inner{
            padding: 4% 5%;
        }
        .about-wrap{
            width: 100%;
            font-size: 1em;
        }
        #myCanvas{
            top: 0;
        }
    }
}
/* 768px ~  */
@media (max-width:768px) {
    .about{
        .about-wrap{
            margin-bottom: 30px;
            h3{
                margin-bottom: 30px;
            }
        }
        #myCanvas{
            top: auto;
            bottom: 0;
            right: 0;
        }
        .svg-box{
            right: 0;
            left: auto;
            display: none;
        }
    }
}
