@import 'common';
section {
    width: 100%;
    height: 100%;
    &.main{
        // background:linear-gradient(143deg, $main_2 0%, $main_1 100%);
    }
}
section{
  @include posCenter;
}
.wrapper{
  .typograpy-wrap{
    span{
      display: inline-block;
      font-size: 6rem;
      font-family: 'Cardo';
      width: 90px;
      height: 80px;
      margin: 10px;
    }
  }
}
.main{
  overflow: hidden;
  font-size: 18px;
    .wrapper{
      width: 60%;
      height: 100%;
      float: right;
      border-left:1px solid $main_4;
    }
    .main-box{
        position: relative;
        float: left;
        overflow: hidden;
        width: 35%;
        height: 775px;
        background: $main_4;
        color:#fff;
        box-shadow: 0 5px 30px rgb(0 0 0 / 20%);
        @include border(20px,20px,20px,20px);
        .header{
            @include clear;
            position: absolute;
            top: 0;
            width: 100%;
            height: 70px;
            padding: 10px 0 10px 20px;
            background: $main_5;
            .cont{
              float: left;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
        }
        .content{
          padding: 0 20px;
          margin-top: 70px;
          height: 70%;
          overflow-y: auto;
          &::-webkit-scrollbar{
            width: 6px;
          }
          /* 스크롤바 막대 설정*/
          &::-webkit-scrollbar-thumb{
              height: 17%;
              background-color: $main_6;
              border-radius: 10px;  
          }
          
          /* 스크롤바 뒷 배경 설정*/
          &::-webkit-scrollbar-track{
              background-color:  #0001;
          }
        }
        .send-box{
            background: $main_5;
            height: 70px;
            input{
                padding:0 15px;
                height: 70px;
                background: none;
                border: none;
                width: calc(100% - 95px);
                color: #fff;
            }
            button{
                @include border(10px,10px,10px,10px);
                padding:5px 7px;
                color: #fff;
                border: none;
                background : $main_6;
            }
        }
    }
    .time{
        margin-top: 9px;
        color: $main_3;
        font-size: 16px;
    }
    .msg-box{
        @include clear;
        position: relative;
        margin: 15px 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-animation: bounce 500ms linear both;
                animation: bounce 500ms linear both;
        span{
            display: inline-block;
            font-size: 0;
            width: 3px;
            height: 3px;
            margin:0 3px 5px;
            position: relative;    
            background: #fff;
            @include border_all(50%);
            &:nth-child(1) {
                color: lime;
                -webkit-animation: ball 1s linear infinite;
                        animation: ball 1s linear infinite;
            }
            &:nth-child(2) {
                color: lime;
                -webkit-animation: ball 1s linear infinite;
                        animation: ball 1s linear infinite;
                        animation-delay: 0.33s;
            }
            &:nth-child(3) {
                color: lime;
                -webkit-animation: ball 1s linear infinite;
                        animation: ball 1s linear infinite;
                        animation-delay: 0.66s;
            }
        }
        .profile-img{
          margin-top: 20px;
        }
    }
    .profile-img{
        float: left;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 50%;
        overflow: hidden;
        background: url('../images/me.jpg');
        background-size: cover;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .msg-txt{
        float: left;
        margin-left: 4px;
        .txt{
            @include border(10px,10px,10px,0);
            padding:15px;
            background:$main_4;
            position: relative;
            color: #ddd;
            &::after{
              content: '';  
              display: block;
              position: absolute;
              bottom: -7px;
              left: 0;
              border-top: 7px solid $main_4;
              border-right: 6px solid #0000;
            }
        }
        &.you{
            float: right;
            .txt{
                @include border(10px,10px,0,10px);
                padding:10px;
                background:linear-gradient(143deg,$main_2 0%, $main_6 100%);
                color: #fff;
                &::after{
                    content: '';  
                    display: block;
                    position: absolute;
                    bottom: -7px;
                    left: auto;
                    right: 0;
                    border-top: 7px solid $main_6;
                    border-left: 6px solid #0000;
                    border-right: 0;
                  }
            }
            .time{
              text-align: right;
            }
          
        }
    }
}

/*--------------------
Bounce
--------------------*/
@-webkit-keyframes bounce {
    0% {
      -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
      -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
      -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
      -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
      -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
      -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
      -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
      -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
      -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
      -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
      -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
      -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
      -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
      -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
      -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
      -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
      -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
      -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
      -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
      -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
      -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
      -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
      -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
              transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }

  @keyframes ball {
    0% {
      -webkit-transform: translateY(-150%);
              transform: translateY(-150%);
    }
    50% {
      -webkit-transform: translateY(150%);
              transform: translateY(150%);
    }
    100% {
      -webkit-transform: translateY(-150%);
              transform: translateY(-150%);
    }
  }
  
  