@import 'style';
html{
    font-family: 'GongGothicLight';
    background: $main_1;
    font-size: 15px;
}  
html,body,#root,section{
    width: 100%;
    height: 100%;
}
.blind{
    @include blind;
}
/*반응형으로 mixin 해봅시다*/