@import 'style';
.sub-wrap{
    background: #000;
}
.fixed-wrap{
    position: absolute;
    padding-top: 100vh;
    .fixed-bg{
        position: fixed;
        top:100vh;
        left:0;
        width: 100%;
        height: 100%;
        z-index:0;
        background-position: center;
    }
}
.sub-container{
    position: relative;
    .sub-main{
        position: relative;
        width: 100vw;
        height: 100%;
        margin-top: 100vh;
        background-color: $main_6;
        color: #fff;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 55%;
            z-index: 1;
            background:linear-gradient(to bottom, #000000bd 0%, #0000);
        }
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 55%;
            z-index: 1;
            background:linear-gradient(to top, #000000bd, 50%, #0000);
        }
        .sub-header{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 20px;
            position: absolute;
            top: 0;
            z-index: 9;
            font-size: 1.5em;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
        .sub-tit{
            @include posCenter2;            
            opacity: 0;
            color: #fff;
            font-size: 5em;
            z-index: 9;
            transform: translate(-50%,-30%);
            -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
            transition: opacity .6s cubic-bezier(.58,.45,.27,.98) 1s;
            transition-property: opacity,transform,-webkit-clip-path;
            transition-property: opacity,transform,clip-path;
            transition-property: opacity,transform,clip-path,-webkit-clip-path;
            &.on{
                opacity: 1;
                -webkit-clip-path: inset(0); 
                clip-path: inset(0);
                transform: translate(-50%,-50%);
            }
        }
        .tit-scroll-wrap{
            position: absolute;
            bottom: 5%;
            left: 48%;
            height: 100px;
            z-index: 9;
            -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
            transition: opacity .6s cubic-bezier(.58,.45,.27,.98) 1.5s;
            transition-property: opacity,transform,-webkit-clip-path;
            transition-property: opacity,transform,clip-path;
            transition-property: opacity,transform,clip-path,-webkit-clip-path;
            &.on{
                opacity: 1;
                -webkit-clip-path: inset(0); 
                clip-path: inset(0);
            }
        }
        .tit-scroll{
            margin-top: 77px;
            color: #fff;
            font-size: 1.2em;
            z-index: 9;
            &::before{
                content: "";
                position: absolute;
                background: #fff;
                width: 2px;
                height: 65px;
                bottom: 38px;
                left: 50%;
            }
        }
        .link_git{
            position: fixed;
            width: 18px;
            height: 18px;
            background: url(https://yuta-abe.com/assets/img/icon-github.svg) center no-repeat;
            display: inline-block;
            bottom: 0;
            left: 0;
            background-size: 35px;
            padding: 50px;
            z-index: 999;
        }
        
    }
    // .sub-content{
    //     .main-box{
    //         position: relative;
    //         width: 500px;
    //         height: 600px;
    //         img{
    //             width: 100%;
    //             height: 100%;
    //         }
    //     }
    // }
    .sub-content{
        background: #000;
        .text-wrap{
            position: relative;
            position: absolute;
            overflow: hidden;
            width: 300px;
            height: 900px;
            top: 100vh;
            right: 0;
            border: 1px solid #fff;
            span{
                position: absolute;
                display: inline-block;
                margin-top: -400px;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 150px;
                color: #fff;
                white-space: nowrap;
                padding: 0;
                writing-mode: vertical-rl;
            }
        }
    }
}