@import 'common';
.sub-wrap{
    background: #000;
}
.fixed-wrap{
    position: absolute;
    padding-top: 100vh;
    .fixed-bg{
        position: fixed;
        top:100vh;
        left:0;
        width: 100%;
        height: 100%;
        z-index:0;
        background-position: center;
    }
}
.sub-container{
    position: relative;
    .sub-main{
        position: relative;
        width: 100vw;
        height: 100%;
        margin-top: 100vh;
        background-color: #00000059;
        color: #fff;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 55%;
            z-index: 1;
            background:linear-gradient(to bottom, #000000bd 0%, #0000);
        }
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 55%;
            z-index: 1;
            background:linear-gradient(to top, #000000bd, 50%, #0000);
        }
        .sub-header{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 20px;
            position: absolute;
            top: 0;
            z-index: 9;
            font-size: 1.5em;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
        .sub-tit{
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%,-50%);
            color: #fff;
            font-size: 75px;
            z-index: 9;
            transform: translate(-50%,-30%);
            -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
            opacity: 0;
            transition: opacity .6s cubic-bezier(.58,.45,.27,.98) 1s;
            transition-property: opacity,transform,-webkit-clip-path;
            transition-property: opacity,transform,clip-path;
            transition-property: opacity,transform,clip-path,-webkit-clip-path;
            &.on{
                opacity: 1;
                -webkit-clip-path: inset(0); 
                clip-path: inset(0);
                transform: translate(-50%,-50%);
            }
        }
        .tit-scroll-wrap{
            position: absolute;
            bottom: 5%;
            left: 48%;
            height: 100px;
            z-index: 9;
            -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
            transition: opacity .6s cubic-bezier(.58,.45,.27,.98) 1.5s;
            transition-property: opacity,transform,-webkit-clip-path;
            transition-property: opacity,transform,clip-path;
            transition-property: opacity,transform,clip-path,-webkit-clip-path;
            &.on{
                opacity: 1;
                -webkit-clip-path: inset(0); 
                clip-path: inset(0);
            }
        }
        .tit-scroll{
            margin-top: 77px;
            color: #fff;
            font-size: 1.2em;
            z-index: 9;
            &::before{
                content: "";
                position: absolute;
                background: #fff;
                width: 2px;
                height: 65px;
                bottom: 38px;
                left: 50%;
            }
        }
        .link_git{
            position: fixed;
            width: 18px;
            height: 18px;
            background: url(https://yuta-abe.com/assets/img/icon-github.svg) center no-repeat;
            display: inline-block;
            bottom: 0;
            left: 0;
            background-size: 35px;
            padding: 50px;
            z-index: 999;
        }
        
    }
    // .sub-content{
    //     .main-box{
    //         position: relative;
    //         width: 500px;
    //         height: 600px;
    //         img{
    //             width: 100%;
    //             height: 100%;
    //         }
    //     }
    // }
    .sub-content{
        background: #000;
        .text-wrap{
            position: relative;
            position: absolute;
            overflow: hidden;
            width: 300px;
            height: 900px;
            top: 100vh;
            right: 0;
            border: 1px solid #fff;
            span{
                position: absolute;
                display: inline-block;
                margin-top: -400px;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 150px;
                color: #fff;
                white-space: nowrap;
                padding: 0;
                writing-mode: vertical-rl;
            }
        }
    }
    .empty{
        height: 900px;
        border: 1px solid blue;
    }
}
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }
  
//   body {
//     color: #525252;
//     background: #000;
//   }
  
//   .App {
//     width: 500px;
//     max-width: 90vw;
//     margin: 20px auto 0;
//     height: 1500px;
//   }
  
//   h1,
//   h2,
//   h3 {
//     background-image: linear-gradient(
//       90deg,
//       #f79533 0%,
//       #f37055 15%,
//       #ef4e7b 30%,
//       #a166ab 44%,
//       #5073b8 58%,
//       #1098ad 72%,
//       #07b39b 86%,
//       #6dba82 100%
//     );
//     background-size: cover;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
//     text-fill-color: transparent;
//     font-weight: 100;
//   }
  
//   .sample-container,
//   .sample-container-2 {
//     margin: 30px 0;
//     background: #fff;
//   }
  
//   button {
//     border: 0;
//     outline: 0;
//     padding: 7px 10px;
//     background: #dedede;
//     cursor: pointer;
//   }
  
//   h4 {
//     margin: 10px 0 20px;
//   }
  
//   .scrollbar-track-x,
//   .scrollbar-thumb-x {
//     height: 5px !important;
//   }
  
//   .scrollbar-track-y,
//   .scrollbar-thumb-y {
//     width: 5px !important;
//   }
  
//   .scroll-content:hover ~ .scrollbar-track {
//     opacity: 1;
//   }
  
//   .custom-class {
//     background: #fff;
//   }
  