@import 'style';
.main-wrapper{
    width: 100%;
    height: 100%;
    @include clear;
    .mainSwipper{
        height: 100%;
        .swiper-wrapper{
            width: 100%;
            height: 100%;
            float: right;
            .swiper-slide:first-child{
                width: 100%;
            }
            .swiper-slide{
                width: 80%;
                height: 100%;
                margin-left: auto;
            }
        }
    }
    .main-header{
        position: absolute;
        top: 0;
        height: 50px;
        width: 100%;
        background: $main_1;
        border-bottom: 1px solid $black_1;
    }
    .main-ctrl{
        position: relative;
        width: 100%;
        height: 45%;
        .main-prev,.main-next{
            position: absolute;
            top: 0;
            left: 50%;
            transform:translateX(-50%);
        }
        .main-next{
            top:auto;
            bottom: 8px;
        }
        .main-prev{
            transform:translateX(-50%) rotate(180deg);
        }
        .main-pagination{
           @include posCenter2;
            span:hover{
                color:#fff;
                z-index: 999;
            }
            .swiper-pagination-bullet{
                position: relative;
                display: block;
                width: 100%;
                height: 26px;
                line-height: 26px;
                margin: 20px 0;
                border-radius: 0;
                background: none;
                font-size: 1.2em;
            }
            .swiper-pagination-bullet-active{
                &::after{
                    content: "";
                    background-color:$blue_1 ;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 4px;
                    left: -20px;
                    border-radius: 50%;
                }
            }
        }
    }
    .aside{
        display: block;
        position: fixed;
        left: -999px;
        width: 20%;
        min-width: 300px;
        height: 100%;
        float: left;
        border-right: 1px solid $black_1;
        z-index: 999;
        background: $main_1;
        .aside-top {
            padding: 30px;
            font-size: 1.5em;
            font-weight: bold;
        }
        .footer {
            position: absolute;
            bottom: 0;
            h1{
                line-height: 1.1;
                font-size: 2em;
            }
        }
    }
    .tag-wrap{
        position: absolute;
        top: 40%;
        left: 5.5%;
    }

}
.test-container{
    height: 100%;
   
}
.circle{
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30%;
    left: 5%;
    border-radius: 50%;
    -webkit-animation: ball 2s linear infinite;
    animation: ball 2s linear infinite;
    z-index: 999;
    @include circleBox($blue_2,30);
    &.two{
        top: 23%;
        left: 44%;
        animation-delay: 0.33s;
        @include circleBox($black_3,30);
    }
    &.three{
        top: 57%;
        left: 57%;
        animation-delay: 0.66s;
        @include circleBox($blue_1,30);
    }
}
.mouse-wrap{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 80%;
    right: 38%;
    border-radius: 50%;
    background: $blue_1;
    .mouse{
        position: relative;
        border: 2px solid #fff;
        width: 15px;
        height: 25px;
        margin-left: 17px;
        margin-top: 13px;
        @include border(20px);
        &>span{
            &:after{
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                left: 5px;
                width: 2px;
                height: 8px;
                background: #fff;
                -webkit-animation: scroll 2s linear infinite;
                animation: scroll 2s linear infinite;
            }
        }
    }
    .txt{
        position: absolute;
        top: -60px;
        left: 15px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        color: $blue_1;
        font-size: 1em;
    }
}

  
@keyframes ball {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  
//   html, body {
// 	position: relative;
// 	height: 100%;
// }
// body {
// 	background: #eee;
// 	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
// 	font-size: 14px;
// 	color:#000;
// 	margin: 0;
// 	padding: 0;
// 	width: 50%;
// 	margin: auto;
// }
// .swiper-container {
// 	width: 100%;
// 	height: 100%;
// }
// .swiper-slide {
// 	text-align: center;
// 	font-size: 18px;
// 	background: #fff;
// 	/* Center slide text vertically */
// 	display: -webkit-box;
// 	display: -ms-flexbox;
// 	display: -webkit-flex;
// 	display: flex;
// 	-webkit-box-pack: center;
// 	-ms-flex-pack: center;
// 	-webkit-justify-content: center;
// 	justify-content: center;
// 	-webkit-box-align: center;
// 	-ms-flex-align: center;
// 	-webkit-align-items: center;
// 	align-items: center;
// }
// .swiper-pagination {
// 	position: absolute;
// 	top: 10px;
// 	right: 10px;
// 	width: auto !important;
// 	left: auto !important;
// 	margin: 0;
// }
// .swiper-pagination-bullet {
// 	padding: 5px 10px;
// 	border-radius: 0;
// 	width: auto;
// 	height: 30px;
// 	text-align: center;
// 	line-height: 30px;
// 	font-size: 12px;
// 	color:#000;
// 	opacity: 1;
// 	background: rgba(0,0,0,0.2);
// }
// .swiper-pagination-bullet-active {
// 	color:#fff;
// 	background: #007aff;
// }