@import 'style';
.wrapper{
    width: 100%;
    height: 100%;
    @include clear;
    .tag-box{
        position: relative;
    }
    .mainSwipper{
        float: right;
        width: 80%;
        height: calc(100% - 100px);
        margin-top: 100px;
        .swiper-wrapper{
            width: 100%;
            height: 100%;
            float: right;
            .swiper-slide:first-child{
                width: 100%;
            }
            .swiper-slide{
                width: 100%;
                height: 100%;
                margin-left: auto;
            }
        }
    }
    .main-ctrl{
        position: relative;
        width: 100%;
        height: 45%;
        .main-prev,.main-next{
            position: absolute;
            top: 0;
            left: 50%;
            transform:translateX(-50%);
        }
        .main-next{
            top:auto;
            bottom: 8px;
        }
        .main-prev{
            transform:translateX(-50%) rotate(180deg);
        }
        .main-pagination{
           @include posCenter2;
            span:hover{
                color:#fff;
                opacity: 1;
            }
            .swiper-pagination-bullet{
                position: relative;
                display: block;
                width: 100%;
                height: 26px;
                line-height: 26px;
                margin: 20px 0;
                border-radius: 0;
                background: none;
                font-size: 1.2em;
                z-index: 9999;
            }
            .swiper-pagination-bullet-active{
                &::after{
                    content: "";
                    background-color:$blue_1 ;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 4px;
                    left: -20px;
                    border-radius: 50%;
                }
            }
        }
    }
    .aside{
        display: block;
        position: fixed;
        left: -999px;
        width: 20%;
        height: 100%;
        float: left;
        border-right: 1px solid $black_1;
        z-index: 999;
        .aside-top {
            padding: 30px;
            font-size: 1.5em;
            font-weight: bold;
        }
        .footer {
            position: absolute;
            bottom: 0;
            h1{
                line-height: 1.1;
                font-size: 2em;
            }
        }
    }
    .tag-wrap{
        position: absolute;
        top: 36%;
        left: 5.5%;
    }

}
.test-container{
    height: 100%;
   
}
.circle{
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30%;
    left: 5%;
    border-radius: 50%;
    -webkit-animation: ball 2s linear infinite;
    animation: ball 2s linear infinite;
    z-index: 999;
    @include circleBox($blue_2,30);
    &.two{
        top: 23%;
        left: 44%;
        animation-delay: 0.33s;
        @include circleBox($black_3,30);
    }
    &.three{
        top: 57%;
        left: 57%;
        animation-delay: 0.66s;
        @include circleBox($blue_1,30);
    }
}
.mouse-wrap{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 80%;
    right: 38%;
    border-radius: 50%;
    background: $blue_1;
    .mouse{
        position: relative;
        border: 2px solid #fff;
        width: 15px;
        height: 25px;
        margin-left: 17px;
        margin-top: 13px;
        @include border(20px);
        &>span{
            &:after{
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                left: 5px;
                width: 2px;
                height: 8px;
                background: #fff;
                -webkit-animation: scroll 2s linear infinite;
                animation: scroll 2s linear infinite;
            }
        }
    }
    .txt{
        position: absolute;
        top: -60px;
        left: 15px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        color: $blue_1;
        font-size: 1em;
    }
}

  
@keyframes ball {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  


/* 미디어 쿼리 */
@media (max-width:1200px) {
    .main .inner{
        width: 100%;
        padding: 0;
        border: none;
    }
    .mouse-wrap {
        top: auto;
        bottom: 0;
        left: 0;
    }
}
@media (max-width:768px) {
    .main{
        padding: 20px 20px 15px;
    }
    .header{
        width: 100%;
        height: 60px;
        .inner{
            padding: 0;
        }
         .inner span {
            height: 60px;
            padding: 25px 20px;
            line-height: 60px;
            font-weight: bold;
            font-size: 1rem;
        }
        &::after{
            top: 60px;
            width: 100%;
            left: 0;
        }
        .link_git{
            top: 13px;
            width: 20px;
            height: 20px;
            background-size: 25px;
            padding: 17px;
            right: 20px;
        }
        &.isMain .link_git{
            right: 20px;
        }
    }
    .wrapper .aside{
        top: 60px;
        width: 100%;
        height: 60px;
        left: 0;
        border-right: none;
        .aside-top {
            padding: 15px 20px;
            font-weight: 100;
            font-size: 0.8em;
            border-bottom: 1px solid $black_1;
        }
    }
    .wrapper{
        .mainSwipper{
            width: 100%;
        }
     
        .main-ctrl{
            position: absolute;
            top: 8px;
            right: 20px;
            width: 170px;
            height: auto;
            margin-left: auto;
            .main-next{
                top: 0;
                bottom: auto;
                right: 0;
                left: auto;
                transform:rotate(270deg);
            }
            .main-prev{
                left: 0;
                transform:rotate(90deg);
            }
            
            .main-pagination{
                width: 100%;
                height: 100%;
                top: 11px;
                left: 45px;
                right: 0;
                transform: none;
                span:hover{
                    color: transparent;
                }
                .swiper-pagination-bullet{
                    display: inline-block;
                    margin: 0 7px;
                    background: #3a5dae;
                    width: 8px;
                    height: 8px;
                    color: transparent;
                    border-radius: 50%;
                    & span:hover{
                        color: transparent;
                    }
                }
                .swiper-pagination-bullet-active{
                    &::after{
                        content: "";
                        border: 1.2px solid $blue_1 ;
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        top: -2px;
                        left: -2px;
                        border-radius: 50%;
                        background: transparent;
                    }
                }
            }
        }
        .wrapper .aside .aside-top {
            padding: 20px;
        }
    }
}
