@import 'style';
.portfolio{
    .swiper-container {
        overflow: visible;
        height: calc(100% - 100px);
        &.type2{
          .prg-top,.prj-img,.desc-wrap{
            @include clipEffect;
          }
          .prj-img{
            width: 42%;
            img{
              width: 100%;
              height: auto;
            }
          }
        }
        &.type01{ 
          //translateX(0) 효과를 위해 지정
          .swiper-slide:first-child{
            .prg-top,.pc, .mo, .desc-wrap, .etc-box{transform: translateX(0);}
          }
            .prg-top,.pc, .mo, .desc-wrap, .etc-box{transform: translateX(200px);}
        }
        .inner{
          padding: 4% 5%;
          .tag-wrap{
            position: relative;
            margin-bottom: 30px;
            top: auto;
            left: auto;
            
          }
        }
        .sub-desc-wrap{
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 9;
          line-clamp: 9;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 1.4;
        }
    }
    .swiper-pagination{
        height: 10px;
        width: 200px;
        position: absolute;
        top: auto;
        left: auto;
        bottom: -45px;
        right: 110px;
        color:$black_2;
        background: none;
        .pagination_custom{
            position: relative;
            height: 2px;
            background: $black_3;
            span{
                position: absolute;
                &.start_idx{top: -7px;left:-25px}
                &.last_idx {top: -7px;right:-25px}
            }
        }
        .swiper-pagination-progressbar-fill{
            background: $blue_1;
        }
    }
    .move-image{
        transform: translateZ(-400px) scale(0.95) translateX(8px) translateY(8px);
    }
    .img-wrap{
        filter: contrast(0.7);
        transform: translateZ(-600px) scale(0.85) translateX(15px) translateY(13px);
    }
}
  .dim-wrap{
    position: absolute;
    top: -9999px;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #000;
    z-index: 9;
  }
  .inner{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
    @include clear;
    .prg-title{
      font-size: 3em;
    }
    .prj-desc{
      padding-bottom: 20px;
    }
    .prj-date{
      padding-bottom: 20px;
      text-decoration: underline;
      font-size: 0.95em;
    }
    .prj-name{
      padding-top: 30px;
      font-family: 'IBMPlexSansKR-Regular';
      font-size: 1.2em;
    }
    .sub-desc-wrap{
      word-break: break-all;
      line-height: 1.4;
    }
    .desc-wrap{
      position: absolute;
      width: 25%;
      font-size: 1.2em;
      line-height: 1.2;
      font-family: "IBMPlexSansKR-Regular";
      right: 10%;
      top: 10%;
      height: auto;
      &+a{
        text-decoration: none;
        color: #000;
        z-index: 1000;
        margin-left: -50px;
        position: absolute;
        top: 65%;
        left: 70%;
        margin-top: -9px;
        border: 1px solid #000;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        padding: 20px 0px 0px 20px;
        font-family: 'IBMPlexSansKR-Regular';
      }
      &+a::after{
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 25px;
        left: 25px;
        width: 20px;
        height: 25px;
        background: url('../images/arrow.png') center center;
        background-size: cover;
      }
    }
    .prj-img{
      position: absolute;
      bottom: 0;
      right: 40%;
      width: 50%;
      height: 77%;
      .mo{
        position: absolute;
        bottom: 0;
        left: 0;
        width: auto;
        height: 66%;
        z-index: 2;
      }
      .pc{
        position: absolute;
        bottom: 0;
        right: 0;
        width: auto;
        height: 85%;
        z-index: 1;
      }
    }
  }
  .pofol-pagi-wrap{
    position: relative;
    width: 93%;
    margin: auto;
    bottom: 30px;
    z-index: 99;
    .pofol-pagination{
      display: flex;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
      border-bottom: 1px solid $black_2;
      border-left: 1px solid $black_2;
      border-right: 1px solid $black_2;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .swiper-pagination-bullet{
        width: 33.3%;
        height: 100%;
        line-height: 70px;
        font-size: 1.2em;
        background: none;
        border-radius: 0;
        opacity: 1;
        span{
          position: relative;
          padding: 10px 10px 10px 40px;
          opacity: 0.2;
        }
        &::before{
          content: '';
          position: absolute;
          display: inline-block;
          background: $black_2;
          width: 1px;
          height: 80%;
          bottom: 0;
        }
        &:first-child::before{
          display: none;
        }
        &:first-child::after{
          content: 'practice';
          position: absolute;
          display: inline-block;
          width: 100px;
          height: 100px;
          z-index: 999;
          top: 0;
          left: 23%;
          text-align: center;
          line-height: 100px;
          background: $black_2;
          border-radius: 50%;
          color: #fff;
        }
      }
      .swiper-pagination-bullet-active{
        span{
          opacity: 1;
          &::before{
            content: '';
            display: inline-block;
            position: absolute;
            top: 15px;
            left: 15px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $blue_1;
           }
        }
      }
    }
  }
  .mySwiper.type2{
    height: calc(100% - 60px);
    .desc-wrap{
      &+a{
        @include clipEffect;
    }
  }
  }
  .etc-box{
    @include clear;
    position: absolute;
    margin-top: 35px;
    font-size: 0.8em;
    .etc-item{
        float: left;
        position: relative;
        overflow: hidden;
        margin-right: 10px;
        @include hoverItem(#fff,$blue_1,70,0.4s);
        .off{
            color: #fff;
            opacity: 0;
        }
        &:hover {
            border: none;
            & .tit{
                opacity: 0;
            }
            & .off{
                opacity: 1;
                z-index: 999;
            }
        }
    }
}

@media (max-width:768px) {
  .portfolio{
    .swiper-container {
     
      .prj-img{
        width: 75%;
        left: 11%;
        height: 42%;
        .mo{
          width: 64px;
          height: auto;
          left: 10%;
        }
        .pc{
          width: 265px;
          height: auto;
        }
      }
      .desc-wrap{
        top: 25%;
        width: 52%;
        right: 0;
        padding-right: 5%;
      }
      .swiper-pagination{
        bottom: -80px;
      }
    }
    .inner .desc-wrap + a{
      left: 83%;
      &::after{
        width: 15px;
        height: 15px;
        transform: rotate(90deg);
      }
    }

  }
@media (max-width:481px) {
  .portfolio{
    .swiper-container {
      height:calc(100% - 47px);
      &.type2{
        .desc-wrap{
          top:31%
        }
        .prj-img {
          width: 100%;
          .mo{
            width: auto;
            height: 100%;
            left: auto;
          }
      }
      }
      .sub-desc-wrap {
        font-size: 0.8em;
        -webkit-line-clamp: 6;
        line-clamp: 6;
      }
      .prg-title{
        font-size: 1.5em;
      }
      .prj-img{
        width: 90%;
        left: 5%;
        height: 44%;
        bottom: 0;
      }
      .desc-wrap{
        top: 22%;
      }
      .sub-desc-wrap {
        font-size: 0.8em;
      }
      .tag-wrap span{
        padding: 5px 10px;
        font-size: 1em;
      }
      .swiper-pagination{
        bottom: -20px;
        right: 10%;
      }
    }
   
    .inner .desc-wrap + a{
      width: 100px;
      height: 100px;
      top: 80%;
      left: 83%;
      &::after{
        width: 15px;
        height: 15px;
        transform: rotate(90deg);
      }
    }
    .pofol-pagi-wrap{
      height: 40px;
      bottom: 0;
      .pofol-pagination {
    
        .swiper-pagination-bullet{
          line-height: 40px;
          font-size: 0.8em;
          &:first-child::after{
            display: none;
          }
        }
        .swiper-pagination-bullet-active{
          span{
            opacity: 1;
            &::before{
              top: 12px;
            }
          }
        }
      }
    }
  }
}
}