/*variable*/
//color
$main_1 : #f2f2f2;
$main_2 : #3a5dae;
$main_7 : #515ada;
$main_3 : #ffffff80;
$main_4 : #1a1b1c33;
$main_5 : #1a1b1c;
$main_6 : #00000059;

//fontSize

/*mixin*/
@mixin clear {
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
@mixin border($pt,$pr:$pt,$pb:$pt,$pl:$pt) {
   border-radius: $pt $pr $pb $pl;
}
@mixin  posCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin  posCenter2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin  blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
@mixin  showBox($color) {
    border: 1px solid $color;
}
@mixin  hoverItem($from,$to,$size,$dur) {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: $size+px;
    height: $size+px;
    background: $from;
    color: $to;
    .hover{
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $to;
        -webkit-transition: width $dur ease-in-out, height $dur ease-in-out;
        transition: width $dur ease-in-out, height $dur ease-in-out;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 1;
    }
    .txt{
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: $size+px;
        height: $size+px;
        line-height: $size+px;
        color:$to;
        font-weight: bold;
    }
    &:hover .hover{
        width: $size*3%;
        height: $size*3%;
    }
    &:hover .txt{
        color: $from;
    }
   
}