/*variable*/
//color
$main_1 : #f2f2f2;
$main_2 : #ffffff80;
$blue_1 : #3a5dae;
$blue_2 : #515ada;
$black_1 : #1a1b1c33;
$black_2 : #1a1b1c;
$black_3 : #00000059;
$red_1 : #dc5a5a;
$red_2 : #dc5a5a66;

$point_f1 : #3a5dae;
$point_f2 : #6ab6df;
$point_t1 : #eb808e;
$point_t2 : #fffeac;


//fontSize

/*mixin*/
@mixin clear {
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
@mixin border($pt,$pr:$pt,$pb:$pt,$pl:$pt) {
   border-radius: $pt $pr $pb $pl;
}
@mixin  posCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin  posCenter2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin  blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
@mixin  showBox($color) {
    border: 1px solid $color;
}
@mixin  clipEffect() {
    -webkit-clip-path:inset(0 100% 0 0);
    clip-path:inset(0 100% 0 0);
}
@mixin  clipEffectTop() {
    -webkit-clip-path:inset(100% 0 0 0);
    clip-path:inset(100% 0 0 0);
}

@mixin  circleBox($color,$size) {
   background: $color;
   & > span{
    @include posCenter2;
    display: inline-block;
    width: ($size+30)+px;
    height: ($size+30)+px;
    background: $color;
    opacity: 0.2;
    border-radius:50% ;
    z-index: 1;
    transition: all 0.5s ease-in-out;
        &::after{
            content: '';
            top: 100%;
            left: 100%;
            display: inline-block;
            width: ($size*5)+px;
            height: ($size*5)+px;
            border:1px solid $black_3;
            border-radius: 50%;
            opacity: 0.8;
            @include posCenter2;
            transition: all 0.5s ease-in-out;
        }
    }
    &:hover span{
        width: ($size+60)+px;
        height: ($size+60)+px;
       &::after{
            width: ($size*3)+px;    
            height: ($size*3)+px;
       }
   }
}

@mixin  slideItem($color) {
    overflow :hidden;
    position: relative;
    span{
        animation: show-text 0.7s both;
        -webkit-animation: show-text 0.7s both;
        position: relative;
        background: none;
    }
    &::after{
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $color;
        animation :block-reveal 0.5s both;
        -webkit-animation :block-reveal 0.5s both;
    }
    &::before{
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $color;
        animation :block-reveal2 0.5s both;
        -webkit-animation :block-reveal2 0.5s both;
        animation-delay: 0.5s;
      }
}

@mixin  hoverItem($from,$to,$size,$dur) {
    // position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: $size+px;
    height: $size+px;
    background: $from;
    color: $to;
    .hover{
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: $to;
        -webkit-transition: width $dur ease-in-out, height $dur ease-in-out;
        transition: width $dur ease-in-out, height $dur ease-in-out;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 1;
    }
    .txt{
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: $size+px;
        height: $size+px;
        line-height: $size+px;
        color:$to;
        font-weight: bold;
    }
    &:hover .hover{
        width: $size*3%;
        height: $size*3%;
    }
    &:hover .txt{
        color: $from;
    }
   
}  
@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #3a5dae, 
            0 0 0 #6ab6df, 
            0 0 0 #eb808e, 
            0 0 0 #fffeac;
    }
  
   50% {
        transform: translateY(-0.05em);
        text-shadow: 
            0 0.03125em 0 #3a5dae, 
            0 0.0625em 0 #6ab6df,  
            0 -0.03125em 0 #eb808e, 
            0 -0.0625em 0 #fffeac;
    }

  100% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #3a5dae, 
            0 0 0 #6ab6df, 
            0 0 0 #eb808e, 
            0 0 0 #fffeac;
    }
}
@keyframes block-reveal{  
    0%{transform: translate(-100%, 0)}
    45%{transform: translate(0, 0)}
    100%{ transform: translate(100%, 0)}
}
@keyframes block-reveal2{  
    0%{transform: translate(100%, 0)}
    100%{transform: translate(0, 0)}
}
@keyframes show-text{
    0%{color: transparent}
    100%{ color: #fff}
}