.my-node-enter {
  opacity: 0;
  transform: translateX(-100vw);
  transition: all 1000ms ease-in-out;
}
.my-node-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1000ms ease-in-out;
}
.my-node-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 1000ms ease-in-out;
}
.my-node-exit-active {
  opacity: 0;
  transform: translateX(-100vw);
  transition: all 1000ms ease-in-out;
}